body {
  margin: 0;
  background-color: #E5D9B6;
  font-family: "Merriweather", serif;
  color: #08313a;
}

h1 {
  width: auto;
  margin: auto;
  font-family: "Sacramento", cursive;
  font-size: 400%;
}

hr {
  border-color: rgb(231, 230, 230);
  border-style: dotted none none;
  border-width: 7px;
  width: 5%;
}

.subheading {
  width: auto;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-image: url("images/jump.gif");
  background-size: cover;
  background-color: #858585;
  text-align: center;
  padding-bottom: 36%;
  padding-top: 10%;
}

.middle-container {
  text-align: center;
}

.profile {
  font-size: larger;
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2.2;
  text-align: left;
}

.profileimg {
  width: 40%;
}

.skills {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: larger;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2.2;
}

.blinkimg {
  width: 25%;
  padding-right: 10%;
  float: left;
}

.running {
  width: 25%;
  padding-left: 10%;
  float: right;
}

.contact-me {
  text-align: center;
  background-color: #93e9be;
  color: #2c5e1a;
  margin-bottom: 0%;
}

.bottom-container {
  text-align: center;
  background-color: #93e9be;
  color: #2c5e1a;
  margin: 0%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a {
  color: #2c5e1a;
}
