body{
    margin:0;
    background-color: #858585;
}

h1{
    width:auto;
    margin: auto;
}

.subheading{
    width: auto;
    margin: auto;
}
.top-container{
    background-image: url("images/jump.gif");
    background-size: cover ;
    background-color: #858585;
    text-align: center;
    padding-bottom: 36%;
    padding-top: 10%;
}

.middle-container{

}

.bottom-container{

}