body {
  margin: 0;
  background-color: #858585;
  font-family: "Merriweather", serif;
}

h1 {
  width: auto;
  margin: auto;
  font-family: "Sacramento", cursive;
  font-size: 500%;
}

.subheading {
  width: auto;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}
.top-container {
  background-image: url("images/jump.gif");
  background-size: cover;
  background-color: #858585;
  text-align: center;
  padding-bottom: 36%;
  padding-top: 10%;
}

.middle-container {
  text-align: center;
}

.profile{
  font-size: larger;
  padding-bottom: 12%;
}

.skills{
  font-size: larger;
  padding-bottom: 12%;
}

.bottom-container {
  text-align: center;
}
